<h1><%= @game.trump_type.name %> trump game started <%= @game.created_at.strftime('%e %b %y') %></h1>
<h2>It has <%= @game.hands.size %> hands</h2>
<h3>Now you should add 2-7 players</h3>
<h3>It has <%= @game.players.size %> players</h3>