html, body {
    height:100%
}
/*body {*/
    /*position:relative;*/
/*}*/
#wrapper {
    position:relative;
    min-height:100%;
}
#header, #footer {
    background:#285e8e;
    color:#FFFFFF;
}
#header {
    font-size:xx-large;
}
.header-normal {
    font-size:large;
    padding-top:1.5em;
    text-align: right;
}
.header-normal a {
    color:#ffffff;
}
.header-normal a:hover {
    color:#ffffff;
}
#breadcrumb ol {
    margin-bottom:0px;
}
#content {
    min-height:100%;
    margin-bottom: 3em;
}
#content h2 {
    margin-top:0;
}
#footer {
    left:0;
    right:0;
    bottom:0;
    height:3em;
    position: absolute;
    padding-top:10px;
    vertical-align:middle;
}
a.home-button {
    color:#FFFFFF;
    text-decoration: none;
}
td.center-align {
    vertical-align: middle !important;
}
.suits {
    font-size:xx-large;
    vertical-align: middle;
}
h2 .suits {
    vertical-align: inherit;
}
span.suits.Hearts,
span.suits.Diamonds {
    color:red;
}

.select2-container .select2-choice abbr {top:5px!important;}
.select2-container-multi .select2-choices li {width:98%;}

.end-of-name {
    display: none;
}
.start-hidden {
    display:none;
}
#set_player {
    margin-left:.75em;
}
@media (min-width: 480px) {
    .end-of-name {
        display: inline;
    }
}