html, body {
    height:100%
}
/*body {*/
    /*position:relative;*/
/*}*/
#wrapper {
    position:relative;
    min-height:100%;
}
#header, #footer {
    background:#285e8e;
    color:#FFFFFF;
}
#header {
    font-size:xx-large;
}
#content {
    min-height:100%;
    margin-bottom: 1em;
}
#footer {
    left:0;
    right:0;
    bottom:0;
    height:3em;
    position: absolute;
    padding-top:10px;
    padding-left:15px;
    vertical-align:middle;
}
a.home-button {
    color:#FFFFFF;
    text-decoration: none;
}
td.center-align {
    vertical-align: middle !important;
}
td.suits {
    font-size:xx-large;
}
td.suits.Hearts,
td.suits.Diamonds {
    color:red;
}

.select2-container-multi .select2-choices li
{
    width:98%;
}
@media (min-width: 992) {


}