<!DOCTYPE html>
<html>
<head>
  <title>Whist</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper" class="container">
    <header id="header" class="row col-xs-12">
        <div>Whist</div>
    </header>
    <div id="content" class="row col-xs-8 col-xs-offset-2">
    <%= yield %>
    </div>
    <footer id="footer" class="navbar navbar-fixed-bottom col-xs-12">
      &copy; Colin Bruce 2014
    </footer>
</div>
</body>
</html>
