<!DOCTYPE html>
<html>
<head>
  <title>Whist</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper" class="container">
    <header id="header" class="row">
        <div class="col-xs-12">Whist</div>
    </header>
    <div id="content" class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <%= yield %>
      </div>
    </div>
    <footer id="footer" class="navbar navbar-fixed-bottom">
      &copy; Colin Bruce 2014
    </footer>
</div>
</body>
</html>
